<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.oi.mapper.AdminMapper">
	<!-- 관리자 -->
	
	<select id="selectAdmin" resultType="map">
		SELECT *
		  FROM admin
		 WHERE AD_ID = #{AD_ID} AND AD_PW = #{AD_PW} AND AD_ACTIVE = 'Y'
	</select>
	
	<insert id="insertAdminAccount">
		INSERT INTO admin
		VALUES (
			   null
			 , #{AD_ID}
			 , #{AD_PW}
			 , #{AD_NAME}
			 , DATE_FORMAT(NOW(), '%Y-%m-%d')
			 , 'Y'
			 , #{RL_TYPE}
		)
	</insert>
	
	<!-- 관리자 끝 -->
	
	
	<!-- List 조회작업 -->
	<select id="selectUserList" resultType="map">
		SELECT *
		  FROM user
		 WHERE 
		  <choose>
		  	<when test="type.equals('US_NAME')">US_NAME LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('US_ID')">US_ID LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('US_NICK')">US_NICK LIKE concat('%', #{keyword} , '%')</when>
		  	<otherwise> 1 = 1</otherwise>
		  </choose>
		  ORDER BY US_IDX asc
	</select>
	
	<select id="selectProductList" resultType="map">
		SELECT *
		  FROM product
		 WHERE 
		  <choose>
		  	<when test="type.equals('US_NAME')">US_NAME LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('PD_SUBJECT')">PD_SUBJECT LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('PD_CATEGORY')">PD_CATEGORY LIKE concat('%', #{keyword} , '%')</when>
		  	<otherwise> 1 = 1</otherwise>
		  </choose>
		  ORDER BY PD_UPDATED_DATE DESC
	</select>
	
	<select id="selectCommonList">
		SELECT *
		  FROM common
		 WHERE name = #{type} 
	 	 ORDER BY code asc;	 
	</select>
	
	<select id="selectAdminList" resultType="map">
		SELECT *
		  FROM admin
		 WHERE RL_NAME != '최고관리자'
		 ORDER BY AD_IDX asc
	</select>
	
	<select id="selectAuctionList" resultType="map">
		SELECT ap.APD_IDX
			 , ap.APD_OWNER
			 , ap.APD_NAME
			 , ap.APD_DETAIL
			 , c1.value as APD_CATEGORY
			 , c2.value as APD_REJECTION
			 , ap.APD_REG_DATE
			 , ap.APD_STATUS
		  FROM auction_product ap
		   LEFT JOIN common c1
		    ON ap.APD_CATEGORY = c1.code
		  LEFT JOIN common c2
		    ON ap.APD_REJECTION = c2.code
		 WHERE
		  <choose>
		  	<when test="!type.equals('ALL')"> c.value = #{type} </when>
		  	<otherwise> 1 = 1</otherwise>
		  </choose>
		 ORDER BY ap.APD_REG_DATE desc
	</select>
		 
	<select id="selectReportList" resultType="map">
		SELECT RP_IDX
			 , TO_US_ID
			 , FROM_US_ID
			 , c1.value AS RP_STATUS
			 , c2.value AS RP_CATEGORY
			 , RP_TIME
		  FROM report rp
		  LEFT JOIN common c1
		    ON rp.RP_STATUS = c1.code
		  LEFT JOIN common c2
		    ON rp.RP_CATEGORY = c2.code
	</select>
	
	<select id="selectCommunityList" resultType="map">
		SELECT CM_IDX
			 , CM_ID
			 , CM_TITLE
			 , CM_NICK
			 , CM_CATEGORY
		  FROM community
		 WHERE
		  <choose>
		  	<when test="type.equals('CM_ID')">CM_ID LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('CM_NICK')">CM_NICK LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('CM_TITLE')">CM_TITLE LIKE concat('%', #{keyword} , '%')</when>
		  	<otherwise> 1 = 1</otherwise>
		  </choose>
		 ORDER BY CM_REG_DATE desc
	</select>
	
	<!-- List 조회작업 끝 -->
	
	<!-- 셀렉트박스 리스트 조회 -->
	<select id="selectCodeCategoryList" resultType="map">
		SELECT *
		  FROM Mcommon
	</select>
	
	<select id="selectAuctionCategoryList" resultType="map">
		SELECT *
		  FROM common
		 WHERE name = 'APD_STATUS' AND hide = 'N'
		 ORDER BY code asc
	</select>
	
	<select id="selectRejectionList" resultType="map">
		SELECT *
		  FROM common
		 WHERE name = 'APD_REJECTION' AND hide = 'N'
		 ORDER BY code asc
	</select>
	
	<select id="selectAdminRoleList" resultType="map">
		SELECT *
		  FROM common
		 WHERE name = 'ROLE_TYPE' AND code != 'ARL01' AND hide = 'Y'
		 ORDER BY code asc
	</select>
	
	<!-- 셀렉트박스 리스트 조회 끝 -->
	
	<!-- 공통코드 관리 -->
	
	<update id="changeActive">
		UPDATE admin
		   SET
		   <choose>
				<when test="value">  AD_ACTIVE = 'Y'</when>		   
				<when test="!value"> AD_ACTIVE = 'N'</when>
		   </choose>
		 WHERE AD_ID = #{id}
	</update>
	
	<update id="changeHide">
		UPDATE common
		   SET
		   <choose>
				<when test="value">  hide = 'N'</when>		   
				<when test="!value"> hide = 'Y'</when>		   
		   </choose>
		 WHERE code = #{code};
	</update>
	
	<update id="patchcommon">
		UPDATE common
		   SET value = #{value}
		 WHERE code = #{code}
	</update>
	
	<insert id="insertCommon">
		INSERT INTO common
		VALUES (null
			 , #{target}
			 , #{code}
			 , #{value}
			 , DEFAULT
		);
	</insert>
	
	<delete id="deleteCommon">
		DELETE
		  FROM common
		 WHERE code = #{code}
	</delete>
	
	<!-- 공통관리 끝 -->
	
	
	<update id="patchAuctionProductStatus">
		UPDATE auction_product
		   SET APD_STATUS = #{APD_STATUS}
		 WHERE APD_IDX = #{APD_IDX}
	</update>
</mapper>















