<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.oi.mapper.AdminMapper">

	<!-- List 조회작업 -->
	<select id="selectUserList" resultType="map">
		SELECT *
		  FROM user
		 WHERE 
		  <choose>
		  	<when test="type.equals('US_NAME')">US_NAME LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('US_ID')">US_ID LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('US_NICK')">US_NICK LIKE concat('%', #{keyword} , '%')</when>
		  	<otherwise> 1 = 1</otherwise>
		  </choose>
		  ORDER BY US_IDX asc
	</select>
	
	<select id="selectProductList" resultType="map">
		SELECT *
		  FROM product
		 WHERE 
		  <choose>
		  	<when test="type.equals('US_NAME')">US_NAME LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('PD_SUBJECT')">PD_SUBJECT) LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('PD_CATEGORY')">PD_CATEGORY LIKE concat('%', #{keyword} , '%')</when>
		  	<otherwise> 1 = 1</otherwise>
		  </choose>
		  ORDER BY PD_IDX asc
	</select>
	
	<select id="selectCommonList">
		SELECT *
		  FROM common
		 WHERE name = #{type}
	 	 ORDER BY code asc;	 
	</select>
	
	
	
	
	
	
	
	<!-- List 조회작업 끝 -->
	<select id="selectCategoryList" resultType="map">
		SELECT *
		  FROM Mcommon;
	</select>
	
	
	
	<select id="selectAdmin" resultType="map">
		SELECT *
		  FROM admin
		 WHERE AD_ID = #{AD_ID} AND AD_PW = #{AD_PW} AND AD_ACTIVE = 'Y'
	</select>
	
	
	
	
	
	<select id="selectAdminList" resultType="map">
		SELECT *
		  FROM admin
		 WHERE RL_NAME != '최고관리자'
		 ORDER BY AD_IDX asc
	</select>
	
	<update id="changeActive">
		UPDATE admin
		   SET
		   <choose>
				<when test="value">  AD_ACTIVE = 'Y'</when>		   
				<when test="!value"> AD_ACTIVE = 'N'</when>
		   </choose>
		 WHERE AD_ID = #{id}
	</update>
	
	<update id="changeHide">
		UPDATE common
		   SET
		   <choose>
				<when test="value.equals('true')">  hide = 'N'</when>		   
				<when test="value.equals('false')"> hide = 'Y'</when>		   
		   </choose>
		 WHERE code = #{target};
	</update>
	
	<update id="patchcommon">
		UPDATE common
		   SET value = #{value}
		 WHERE code = #{code}
	</update>
	
	<insert id="insertCommon">
		INSERT INTO common
		VALUES (null
			 , #{target}
			 , #{code}
			 , #{value}
			 , DEFAULT
		);
	</insert>
	
	<delete id="deleteCommon">
		DELETE
		  FROM common
		 WHERE code = #{target}
	</delete>
	
</mapper>















