<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.oi.mapper.AdminMapper">
	<!-- 관리자 -->
	
	<select id="selectAdmin" resultType="map">
		SELECT *
		  FROM admin
		 WHERE AD_ID = #{AD_ID} AND AD_PW = #{AD_PW} AND AD_ACTIVE = 'Y'
	</select>
	
	<insert id="insertAdminAccount">
		INSERT INTO admin
		VALUES (
			   null
			 , #{AD_ID}
			 , #{AD_PW}
			 , #{AD_NAME}
			 , DATE_FORMAT(NOW(), '%Y-%m-%d')
			 , 'Y'
			 , #{RL_TYPE}
		)
	</insert>
	
	<!-- 관리자 끝 -->
	
	
	<!-- List 조회작업 -->
	<select id="selectUserList" resultType="map">
		SELECT *
		  FROM user
		 WHERE 
		  <choose>
		  	<when test="type.equals('US_NAME')">US_NAME LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('US_ID')">US_ID LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('US_NICK')">US_NICK LIKE concat('%', #{keyword} , '%')</when>
		  	<otherwise> 1 = 1</otherwise>
		  </choose>
		  ORDER BY US_IDX asc
	</select>
	
	<select id="selectProductList" resultType="map">
		 WITH RECURSIVE tmp(CTG_CODE, CTG_NAME, UP_CTG_CODE, path) AS (
		  SELECT CTG_CODE, CTG_NAME, UP_CTG_CODE, CTG_NAME
		  FROM category
		  WHERE UP_CTG_CODE = 'T'
		  UNION ALL
		  SELECT t.CTG_CODE, t.CTG_NAME, t.UP_CTG_CODE, CONCAT(tp.path, '/', t.CTG_NAME)
		  FROM category t
		  INNER JOIN tmp tp ON t.UP_CTG_CODE = tp.CTG_CODE
		)
		SELECT PD_IDX
			 , p.US_ID
			 , p.PD_SUBJECT
			 , c.value AS PD_STATUS
			 , p.PD_REG_DATE
			 , tmp.PATH AS PD_CATEGORY 
		  FROM product p 
		  LEFT JOIN tmp
		    ON p.PD_CATEGORY = tmp.CTG_CODE
		  LEFT JOIN common c
		    ON p.PD_STATUS = c.code
		 WHERE 1 = 1
		  <choose>
		  	<when test="type.equals('US_ID')"> AND US_ID LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('PD_SUBJECT')"> AND PD_SUBJECT LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('PD_CATEGORY')">AND PD_CATEGORY LIKE concat('%', #{keyword} , '%')</when>
		  </choose>
		   ORDER BY PD_REG_DATE DESC;
	</select>
	
	<select id="selectCommonList">
		SELECT *
		  FROM common
		 WHERE name = #{type} 
	 	 ORDER BY code asc;	 
	</select>
	
	<select id="selectAdminList" resultType="map">
		SELECT *
		  FROM admin
		 WHERE RL_NAME != '최고관리자'
		 ORDER BY AD_IDX asc
	</select>
	
	<select id="selectAuctionList" resultType="map">
		WITH RECURSIVE tmp(CTG_CODE, CTG_NAME, UP_CTG_CODE, path) AS (
		  SELECT CTG_CODE, CTG_NAME, UP_CTG_CODE, CTG_NAME
		  FROM category
		  WHERE UP_CTG_CODE = 'T'
		  UNION ALL
		  SELECT t.CTG_CODE, t.CTG_NAME, t.UP_CTG_CODE, CONCAT(tp.path, '/', t.CTG_NAME)
		  FROM category t
		  INNER JOIN tmp tp ON t.UP_CTG_CODE = tp.CTG_CODE
		)
		SELECT ap.APD_IDX
			 , ap.APD_OWNER
			 , ap.APD_NAME
			 , ap.APD_DETAIL
			 , tmp.PATH AS APD_CATEGORY
			 , c2.value as APD_REJECTION
			 , ap.APD_REG_DATE
			 , c1.value as APD_STATUS
		  FROM auction_product ap
		  LEFT JOIN tmp
		    ON ap.APD_CATEGORY = tmp.CTG_CODE
		  LEFT JOIN common c2
		    ON ap.APD_REJECTION = c2.code
		  LEFT JOIN common c1
		    ON ap.APD_STATUS = c1.code
		 WHERE 1 = 1 
		  <choose>
		  	<when test="!type.equals('ALL')"> AND c.code = #{type} </when>
		  </choose>
		   ORDER BY ap.APD_REG_DATE DESC;
	</select>
		 
	<select id="selectReportList" resultType="map">
		SELECT RP_IDX
			 , TO_US_ID
			 , FROM_US_ID
			 , c2.value AS RP_CATEGORY
			 , RP_TIME
		  FROM report rp
		  LEFT JOIN common c1
		    ON rp.RP_STATUS = c1.code
		  LEFT JOIN common c2
		    ON rp.RP_CATEGORY = c2.code
		 WHERE c1.code = 'RS01'
		 ORDER BY RP_IDX DESC
	</select>
	
	<select id="selectCommunityList" resultType="map">
		SELECT CM_IDX
			 , CM_ID
			 , CM_TITLE
			 , CM_NICK
			 , CM_CATEGORY
		  FROM community
		 WHERE
		  <choose>
		  	<when test="type.equals('CM_ID')">CM_ID LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('CM_NICK')">CM_NICK LIKE concat('%', #{keyword} , '%')</when>
		  	<when test="type.equals('CM_TITLE')">CM_TITLE LIKE concat('%', #{keyword} , '%')</when>
		  	<otherwise> 1 = 1</otherwise>
		  </choose>
		 ORDER BY CM_REG_DATE desc
	</select>
	
	<select id="selectCategoryList">
		SELECT CTG_CODE
		     , CTG_NAME
		     , CTG_HIDE 
		     , UP_CTG_CODE
		  FROM category
		 WHERE UP_CTG_CODE = #{type};
	</select>
	
	<!-- List 조회작업 끝 -->
	
	<!-- 셀렉트박스 리스트 조회 -->
	<select id="selectCodeCategoryList" resultType="map">
		SELECT *
		  FROM Mcommon
	</select>
	
	<select id="selectAuctionCategoryList" resultType="map">
		SELECT *
		  FROM common
		 WHERE name = 'APD_STATUS' AND hide = 'N'
		 ORDER BY code asc
	</select>
	
	<select id="selectRejectionList" resultType="map">
		SELECT *
		  FROM common
		 WHERE name = 'APD_REJECTION' AND hide = 'N'
		 ORDER BY code asc
	</select>
	
	<select id="selectAdminRoleList" resultType="map">
		SELECT *
		  FROM common
		 WHERE name = 'ROLE_TYPE' AND code != 'ARL01' AND hide = 'Y'
		 ORDER BY code asc
	</select>
	
	<select id="selectCategoryCodeList" resultType="map">
		SELECT *
		  FROM category
		 WHERE UP_CTG_CODE = 'T'
		 ORDER BY UP_CTG_CODE asc
	</select>
	
	<!-- 셀렉트박스 리스트 조회 끝 -->
	
	<!-- 공통코드 관리 -->
	
	<update id="changeActive">
		UPDATE admin
		   SET
		   <choose>
				<when test="value">  AD_ACTIVE = 'Y'</when>		   
				<when test="!value"> AD_ACTIVE = 'N'</when>
		   </choose>
		 WHERE AD_ID = #{id}
	</update>
	
	<update id="changeHide">
		UPDATE common
		   SET
		   <choose>
				<when test="value">  hide = 'N'</when>		   
				<when test="!value"> hide = 'Y'</when>		   
		   </choose>
		 WHERE code = #{code};
	</update>
	
	<update id="patchcommon">
		UPDATE common
		   SET value = #{value}
		 WHERE code = #{code}
	</update>
	
	<insert id="insertCommon">
		INSERT INTO common
		VALUES (null
			 , #{target}
			 , #{code}
			 , #{value}
			 , DEFAULT
		);
	</insert>
	
	<!-- 공통관리 끝 -->
	
	<!-- 카테고리 코드 관리 -->
	<update id="patchCategory">
		UPDATE category
		   SET CTG_NAME = #{CTG_NAME}
		 WHERE CTG_CODE = #{CTG_CODE}
	</update>
	
	<insert id="insertCategory">
		INSERT INTO category
		VALUES (null
			 , #{target}
			 , #{code}
			 , #{value}
			 , DEFAULT
		);
	</insert>
	
	<update id="changeCTG_Hide">
		UPDATE category
		   SET
		   <choose>
				<when test="value">  CTG_HIDE = 'N'</when>		   
				<when test="!value"> CTG_HIDE = 'Y'</when>		   
		   </choose>
		 WHERE CTG_CODE = #{code};
	</update>
	
	<!-- 카테고리 코드 관리 끝 -->
	
	<update id="patchAuctionProductStatus">
		UPDATE auction_product
		   SET APD_STATUS = #{APD_STATUS}
		 WHERE APD_IDX = #{APD_IDX}
	</update>
	
	
	<select id="selectDetailUser">
		SELECT *
		  FROM user
		 WHERE US_ID = #{target}
	</select>
	
	<select id="selectDetailReport">
		SELECT *
		  FROM report
		 WHERE RP_IDX = #{target}
	</select>
	
	<select id="selectDetailAP">
		SELECT *
		  FROM auction_product
		 WHERE APD_IDX = #{target}
	</select>
	
</mapper>















