<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.itwillbs.oi.mapper.AuctionMapper">
	<select id="getCategory1">
		select CTG_CODE,CTG_NAME
		from category
		where UP_CTG_CODE = 'T';
	</select>
	
	<select id="getCategory2">
		select *
		from category
		where UP_CTG_CODE like '_000';
	</select>
	
	<select id="getCategory3">
		SELECT *
		FROM category
		WHERE UP_CTG_CODE LIKE '__00';
	</select>
	
	<insert id="insertImg" parameterType="map" useGeneratedKeys="true" keyProperty="imgIdx" keyColumn="IMG_IDX">
		INSERT INTO images
	    (
	        image1,
	        image2,
	        image3,
	        image4,
	        image5
	    )
	    VALUES
	    (
	        <choose>
	            <when test="#{image1} != null">#{image1}</when>
	            <otherwise>null</otherwise>
	        </choose>,
	        <choose>
	            <when test="#{image2} != null">#{image2}</when>
	            <otherwise>null</otherwise>
	        </choose>,
	        <choose>
	            <when test="#{image3} != null">#{image3}</when>
	            <otherwise>null</otherwise>
	        </choose>,
	        <choose>
	            <when test="#{image4} != null">#{image4}</when>
	            <otherwise>null</otherwise>
	        </choose>,
	        <choose>
	            <when test="#{image5} != null">#{image5}</when>
	            <otherwise>null</otherwise>
	        </choose>
	    )
	</insert>
	
	<select id="categoryName" resultType="string">
		SELECT CTG_NAME
		FROM category
		WHERE CTG_CODE IN (#{cate1}, #{cate2}, #{cate3});
	</select>
	
	<insert id="insertAPD">
		INSERT
		INTO auction_product(
			APD_OWNER,
		    APD_NAME,
		    APD_DETAIL,
		    APD_CAREGORY,
		    APD_IMAGE,
		    APD_STATUS,
		    APD_DEADLINE,
		    APD_CONDITION,
		    APD_START_PRICE,
		    APD_BUY_NOW_PRICE,
		    APD_REG_DATE
		)
		VALUES(
			#{APD_OWNER},
			#{APD_NAME},
			#{APD_DETAIL},
			#{APD_CAREGORY},
			#{APD_IMAGE},
			'APD05',
			#{APD_DEADLINE},
			#{APD_CONDITION},
			#{APD_START_PRICE},
			#{APD_BUY_NOW_PRICE},
			DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i')			
		)
	</insert>
	
	<select id="selectApdList" resultType="hashmap">
		select *
		from auction_product ap
		join images img
		on ap.APD_IMAGE = img.IMG_IDX;
	</select>
	
	<select id="selectApdDetail" resultType="hashmap">
		select *
		from auction_product ap
		join images i
		on ap.APD_IMAGE = i.IMG_IDX
		where APD_IDX = #{APD_IDX}
	</select>
	
	<select id="selectACR" resultType="hashmap">
		select *
		from auction_chat_room
		where ACR_IDX = #{APD_IDX}	
	</select>
	<insert id="insertACR">
		insert into
		auction_chat_room(ACR_IDX)
		values (#{ACR_IDX})
	</insert>
</mapper>















