<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.itwillbs.oi.mapper.AuctionMapper">
	<select id="getCategory1">
		select CTG_CODE,CTG_NAME
		from category
		where UP_CTG_CODE = 'T';
	</select>
	
	<select id="getCategory2">
		select *
		from category
		where UP_CTG_CODE like '_000';
	</select>
	
	<select id="getCategory3">
		SELECT *
		FROM category
		WHERE UP_CTG_CODE LIKE '__00';
	</select>
	
	<insert id="insertImg" parameterType="map" useGeneratedKeys="true" keyProperty="imgIdx" keyColumn="IMG_IDX">
		INSERT INTO images
	    (
	        image1,
	        image2,
	        image3,
	        image4,
	        image5
	    )
	    VALUES
	    (
	        <choose>
	            <when test="#{image1} != null">#{image1}</when>
	            <otherwise>null</otherwise>
	        </choose>,
	        <choose>
	            <when test="#{image2} != null">#{image2}</when>
	            <otherwise>null</otherwise>
	        </choose>,
	        <choose>
	            <when test="#{image3} != null">#{image3}</when>
	            <otherwise>null</otherwise>
	        </choose>,
	        <choose>
	            <when test="#{image4} != null">#{image4}</when>
	            <otherwise>null</otherwise>
	        </choose>,
	        <choose>
	            <when test="#{image5} != null">#{image5}</when>
	            <otherwise>null</otherwise>
	        </choose>
	    )
	</insert>
	
	<select id="categoryName" resultType="string">
		SELECT CTG_NAME
		FROM category
		WHERE CTG_CODE IN (#{cate1}, #{cate2}, #{cate3});
	</select>
	
	<insert id="insertAPD">
		INSERT
		INTO auction_product(
			APD_OWNER,
		    APD_NAME,
		    APD_DETAIL,
		    APD_CATEGORY,
		    APD_IMAGE,
		    APD_STATUS,
		    APD_DEADLINE,
		    APD_CONDITION,
		    APD_START_PRICE,
		    APD_BUY_NOW_PRICE,
		    APD_REG_DATE,
		    APD_MAIN_IMAGE
		)
		VALUES(
			#{APD_OWNER},
			#{APD_NAME},
			#{APD_DETAIL},
			#{APD_CATEGORY},
			#{APD_IMAGE},
			'APD05',
			#{APD_DEADLINE},
			#{APD_CONDITION},
			#{APD_START_PRICE},
			#{APD_BUY_NOW_PRICE},
			DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i'),
			#{APD_MAIN_IMAGE}		
		)
	</insert>
	
	<select id="selectApdList" resultType="hashmap">
		SELECT *
		FROM auction_product ap
		JOIN images img ON ap.APD_IMAGE = img.IMG_IDX
		JOIN common c ON ap.APD_STATUS = c.code
		<if test="params.APD_STATUS == ''">
		WHERE APD_STATUS LIKE 'APD0%'
		AND SUBSTRING(APD_STATUS, 4, 2) BETWEEN '05' AND '09'
		</if>
		<if test="params.APD_STATUS == 'APD05'">
		WHERE APD_STATUS = 'APD05'
		</if>
		<if test="params.APD_STATUS == 'APD06'">
		WHERE APD_STATUS = 'APD06'
		</if>
		<if test="params.APD_STATUS == 'APD07'">
		WHERE APD_STATUS = 'APD07'
		</if>
		LIMIT #{params.startRow}, #{params.listLimit};
	</select>
	
	<select id="selectApdDetail" resultType="hashmap">
		WITH RECURSIVE tmp(CTG_CODE, CTG_NAME, UP_CTG_CODE, path) AS (
		  SELECT CTG_CODE, CTG_NAME, UP_CTG_CODE, CTG_NAME
		  FROM category
		  WHERE UP_CTG_CODE = 'T'
		  UNION ALL
		  SELECT t.CTG_CODE, t.CTG_NAME, t.UP_CTG_CODE, CONCAT(tp.path, '/', t.CTG_NAME)
		  FROM category t
		  INNER JOIN tmp tp ON t.UP_CTG_CODE = tp.CTG_CODE
		)
		select 
			ap.APD_IDX,
            ap.APD_OWNER,
            ap.APD_NAME,
            ap.APD_DETAIL,
            tmp.PATH AS APD_CATEGORY,
            i.image1,
            i.image2,
            i.image3,
            i.image4,
            i.image5,
            ap.APD_STATUS,
            ap.APD_REJECTION,
            ap.APD_DEADLINE,
            ap.APD_CONDITION,
            ap.APD_START_PRICE,
            ap.APD_BUY_NOW_PRICE,
            ap.APD_REG_DATE,
            ap.APD_DELIVERY,
            a.AT_IDX,
            a.AT_START_TIME,
            a.AT_END_TIME,
            a.FINAL_BID_USER,
            a.FINAL_BID_PRICE
		from auction_product ap
		join images i
		on ap.APD_IMAGE = i.IMG_IDX
		join auction a
		on ap.APD_IDX = a.APD_IDX
		JOIN tmp
		on ap.APD_CATEGORY = tmp.CTG_CODE
		where ap.APD_IDX = #{APD_IDX};
	</select>
	
	<select id="selectACR" resultType="hashmap">
		select *
		from auction_chat_room
		where ACR_IDX = #{APD_IDX}	
	</select>
	<insert id="insertACR">
		insert into
		auction_chat_room(ACR_IDX,ACR_STATUS,ACR_DATE)
		values (#{ACR_IDX},'Y',DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i'))
	</insert>
	<update id="updateApdBid">
		update auction
		set FINAL_BID_USER = #{FINAL_BID_USER}, FINAL_BID_PRICE = #{FINAL_BID_PRICE}
		where AT_IDX = #{AT_IDX};
	</update>
	<update id="updateApdStatus">
		update auction_product
		set APD_STATUS = "APD06"
		where APD_IDX = #{APD_IDX}
	</update>
	
	<insert id="insertACM">
		insert into auction_chat_msg(
			ACR_IDX,
		    ACM_USER,
		    ACM_CONTENT,
		    ACM_DATE
		)values(
			#{ACR_IDX},
		    #{ACM_USER},
		    #{ACM_CONTENT},
		    DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i')
		)
	</insert>
	
	<insert id="insertBid">
		insert into bidding(
			APD_IDX,
			BID_USER,
		    BID_PRICE,
		    BID_TIME
		)values(
			#{APD_IDX},
		    #{FINAL_BID_USER},
		    #{FINAL_BID_PRICE},
		    DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i')
		)
	</insert>
	<select id="selectBidChart" resultType="hashmap">
		select BID_PRICE, DATE_FORMAT(BID_TIME, '%m월%d일') as BID_TIME
		from bidding
		where APD_IDX = #{APD_IDX};
	</select>
	
	<select id="selectAuctionList" resultType="hashmap">
		SELECT APD_NAME
			  ,APD_REG_DATE 
			  ,APD_START_PRICE
			  ,APD_BUY_NOW_PRICE
			  , i.image1 AS APD_IMAGE  
		FROM auction_product ap
		LEFT JOIN images i 
		ON i.IMG_IDX = ap.APD_IMAGE 
		WHERE APD_STATUS = 'APD05'
		ORDER BY APD_REG_DATE DESC;
	</select>
	
</mapper>















