<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.itwillbs.oi.mapper.ChattingMapper">

	<select id="selectReportCategory" resultType="hashmap">
		SELECT code, value
		FROM common
		WHERE hide != 'Y' AND name='REPORT_CATEGORY';
	</select>
	
	<select id="selectReviewCategory" resultType="hashmap">
		SELECT code, value
		FROM common
		WHERE hide != 'Y' AND name='REVIEW_CATEGORY';
	</select>
	
	<select id="getProductInfo" resultType="hashmap">
		SELECT 
			 p.PD_SUBJECT
			, p.PD_STATUS
		FROM product p
		WHERE p.PD_IDX = #{PD_IDX}
	</select>
	
	<select id="getOtherInfo" resultType="hashmap">
		SELECT US_PROFILE, US_NICK, US_OILEVEL
		FROM user
		WHERE US_ID = #{other}
	</select>
	
	<select id="getMyInfo" resultType="hashmap">
		SELECT u.US_PROFILE
		FROM `user` u
		WHERE u.US_ID = #{US_ID}
	</select>
	
	<select id="getDeliveryinfo" resultType="hashmap">
		SELECT d.PC_ID, d.BUYER_ID, DV_TIME, DV_STATUS, cr.CR_ID
		FROM delivery d
		JOIN chat_room cr
		ON cr.PD_IDX = d.PC_ID
		WHERE PC_ID = #{PD_IDX}  
	</select>
	
	<insert id="insertReport">
		INSERT INTO report
		VALUES (
			NULL
			, #{TO_ID}
			, #{FROM_US_ID}
			, 'RS01'
			, #{RP_CATEGORY}
			, #{RP_CONTENT}
			, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i')
			, #{RP_IMG1}
			, #{RP_IMG2}
		)
	</insert>
	
	<insert id="insertReview">
		INSERT INTO review
		VALUES (
			NULL
			,#{TO_US_ID}
			,#{FROM_US_ID}
			,#{RV_STAR}
			,#{RV_CATEGORYS}
			,#{RV_CONTENT}
			, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i')
			,#{PD_IDX}	
		)
	</insert>
	
	<select id="selectReview" resultType="int">
		SELECT COUNT(RV_IDX)
		FROM review
		WHERE PD_IDX = #{PD_IDX}
	</select>
	
	<insert id="registDelivey">
		INSERT INTO delivery
		VALUES (
			NULL
			, #{BUYER_ID}
			, #{PC_ID}
			, #{DV_NUM}
			, #{DV_METHOD}
			, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i')
			, 1
		)
	</insert>

	<insert id="createRoom">
		INSERT INTO chat_room
		VALUES (
			#{CR_ID}
			, #{PD_IDX}
			, #{TO_ID}
			, #{FROM_ID}
			, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
		)
	</insert>
	
	<select id="checkChatRoom" resultType="hashmap">
		SELECT CR_ID, FROM_ID
		FROM chat_room
		WHERE PD_IDX = #{PD_IDX}
			AND FROM_ID = #{FROM_ID}
			AND TO_ID = #{TO_ID}
	</select>
	
	<select id="checkChat" resultType="int">
		SELECT COUNT(CR_ID) 
		FROM chat_room
		WHERE PD_IDX = #{PD_IDX}
			AND FROM_ID = #{FROM_ID}
			AND TO_ID = #{TO_ID}
	</select>
	
	<insert id="saveChatting">
		INSERT INTO chat_message
		VALUES (
			NULL	
			, #{CR_ID}
			, #{FROM_ID}
			, #{TO_ID}
			, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i')
			, #{msg}
			, NULL
			, 0
			, 2
			, #{US_ID}
		)
	</insert>
	
	<select id="getMyChatInfo" resultType="hashmap">
		SELECT CR.CR_ID, CR.PD_IDX, CR.BUYER_ID, CR.SELLER_ID, u.US_NICK, u.US_PROFILE
		FROM chat_room CR
		JOIN user u
		ON (CR.BUYER_ID = u.US_ID OR CR.SELLER_ID = u.US_ID)
		WHERE (CR.BUYER_ID = #{US_ID} OR CR.SELLER_ID = #{US_ID})
		AND u.US_ID != #{US_ID}
		ORDER BY CR_DATE DESC
	</select>
	
	<select id="getMyChatList" resultType="hashmap">
	<![CDATA[
		SELECT MS_CONTENT
			,  CASE 
		        WHEN TIMESTAMPDIFF(MINUTE, MS_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(SECOND, MS_DATE, NOW()), ' 초전')
		        WHEN TIMESTAMPDIFF(HOUR, MS_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(MINUTE, MS_DATE, NOW()), ' 분전')
		        WHEN TIMESTAMPDIFF(HOUR, MS_DATE, NOW()) < 24 THEN CONCAT(TIMESTAMPDIFF(HOUR, MS_DATE, NOW()), ' 시간전')
		        ELSE CONCAT(TIMESTAMPDIFF(DAY, MS_DATE, NOW()), ' 일전')
		    END AS MS_END_DATE
		FROM chat_message
		WHERE CR_ID = #{crId}
		ORDER BY MS_DATE desc
		LIMIT 1;
	 ]]>
	</select>
	
	<select id="getChatMsg" resultType="hashmap">
        SELECT MS_CONTENT
	       , TO_ID
	       , FROM_ID
	       , CR_TYPE
	       , MS_IMG
	       , SUBSTRING(MS_DATE, 12, 5) AS 'MS_TIME'
	       , CASE 
	           WHEN BUYER_ID = #{US_ID} OR SELLER_ID = #{US_ID} THEN 'right'
	           ELSE 'left'
	         END AS MSG_POSITION
			, CASE 
				WHEN BUYER_ID = #{US_ID} OR SELLER_ID = #{US_ID} THEN 'other'
	            ELSE 'my'
	            END AS MSG_IMG_POSITION
			FROM chat_message
			WHERE CR_ID = #{CR_ID}
	</select>
	
	<select id="existmsg" resultType="hashmap">
		SELECT COUNT(MS_CONTENT) AS cnt
		FROM chat_message
		WHERE CR_ID = #{CR_ID}
	</select>
	
	<select id="getReadCount" resultType="hashmap">
		SELECT CM_READCOUNT, CM_READBY
		FROM chat_message
		WHERE CR_ID = #{crId} AND CM_READCOUNT != 0;
	</select>
	
	<select id="getUnreadCnt" resultType="hashmap">
		SELECT CM_READCOUNT
		FROM chat_message
		WHERE CR_ID = #{CR_ID};
	</select>
	
	<update id="updateUnreadCnt">
		UPDATE chat_message
		SET CM_READCOUNT = CM_READCOUNT - 1
			, CM_READBY = #{US_ID}
		WHERE CR_ID = #{CR_ID}
	</update>
	
	<update id="updateUnreadZero">
		UPDATE chat_message
		SET CM_READCOUNT = 0
		WHERE CR_ID = #{CR_ID} AND CM_READBY != #{US_ID}
	</update>
	
	<update id="updateFreshness">
		UPDATE user
		SET US_OILEVEL = US_OILEVEL + #{freshness}
		WHERE US_ID = #{TO_US_ID}
	</update>
	
	<select id="getChatRoom" resultType="map">
		SELECT CR_ID
		FROM chat_room
		WHERE PD_IDX = #{PD_IDX} 
		 AND (
	         (BUYER_ID = #{TO_ID} AND SELLER_ID = #{FROM_ID})
	    	OR (BUYER_ID = #{FROM_ID} AND SELLER_ID = #{TO_ID}))
	</select>
	
</mapper>















