<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.oi.mapper.CommunityMapper">
  	
  	<select id="selectBoardList" resultType="map">
  		SELECT
  			CM_IDX
  			, CM_TITLE
  			, CM_REG_DATE
  			, CM_CATEGORY
  			, CM_NICK
  			, ROW_NUMBER() OVER(ORDER BY CM_IDX) AS count
  		FROM community cm
  	   WHERE 1=1
		<if test="type != null and type != '' and type != 'CC01'">
			AND CM_CATEGORY = (SELECT value
                     FROM common c
                     WHERE code = #{type})
		</if>
  		ORDER BY CM_IDX desc
  		LIMIT #{startRow}, #{listLimit}
  	</select>
  	
  	<select id="selectListCount" resultType="int">
	    SELECT COUNT(*)
	    FROM community
	    WHERE 1=1
	    <if test="type != null and type != '' and type != 'CC01'">
	        AND CM_CATEGORY = (SELECT value FROM common WHERE code = #{type})
	    </if>
	</select>
  	
  
  	<select id="selectBoardDetail" resultType="map">
  		SELECT
  		*
  		FROM
  		community
  		WHERE
  		CM_IDX = #{CM_IDX}
  	
  	</select>
  	
  	<update id="updateReadCount">
  		UPDATE community
        SET CM_READ_COUNT = CM_READ_COUNT + 1
        WHERE CM_IDX = #{CM_IDX}
  	
  	</update>
  	
  	<select id="selectCM_IDX" resultType="int">
  		SELECT CM_IDX + 1
		FROM community
		ORDER BY CM_IDX DESC
		LIMIT 1;
  	</select>
  	
  	<select id="selectCM_CATEGORY" resultType="map">
  		SELECT code, value
  		FROM common
  		WHERE name = 'CM_CATEGORY'
  	</select>
  
	<insert id="insertBoard">
		<selectKey order="BEFORE" keyProperty="category" resultType="String">
			SELECT value
			FROM common c 
			WHERE code = #{CM_CATEGORY}
		</selectKey>
		
		INSERT INTO community 
		VALUES(
			NULL 
			, #{CM_ID}
			, #{CM_TITLE}
			, #{CM_CONTENT}
			, null
			, null
			, null
			, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i')
			, #{category}
			, #{CM_NICK}
		);
	</insert>
	
	<delete id="deleteBoard">
		DELETE
		FROM community
		WHERE CM_IDX = #{CM_IDX};
	</delete>
	
	<update id="updateBoard">
		<selectKey order="BEFORE" keyProperty="category" resultType="String">
			SELECT value
			FROM common c 
			WHERE code = #{CM_CATEGORY}
		</selectKey>
		UPDATE community
		SET 
			CM_CATEGORY = #{category} 
		  , CM_TITLE = #{CM_TITLE}
		  , CM_CONTENT = #{CM_CONTENT}
		WHERE
			CM_IDX = #{CM_IDX}
	</update>
	
	
  
  
  </mapper>