<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.oi.mapper.CommunityMapper">
  	
  	<select id="selectBoardList" resultType="map">
  		SELECT
  		*, (SELECT
  			 COUNT(*) 
  			 FROM community
  			 WHERE 1=1
  			 <if test="type != null and type != ''">
		  		AND CM_CATEGORY = #{type}
			</if>
  			 )
  			 AS count
  		FROM community
  		where 1=1
		<if test="type != null and type != ''">
		  AND CM_CATEGORY = #{type}
		</if>
  		ORDER BY CM_IDX desc
  	
  	
  	</select>
  
  
  
  
  
  </mapper>