<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.oi.mapper.CommunityMapper">
  	
  	<select id="selectBoardList" resultType="map">
  		SELECT
  		*, (SELECT
  			 COUNT(*) 
  			 FROM community
  			 WHERE 1=1
  			 <if test="type != null and type != ''and type != '전체 게시판'">
		  		AND CM_CATEGORY = #{type}
			</if>
  			 )
  			 AS count
  		FROM community
  			 WHERE 1=1
		<if test="type != null and type != '' and type != '전체 게시판'">
		  AND CM_CATEGORY = #{type}
		</if>
  		ORDER BY CM_IDX desc
  	
  	
  	</select>
  
  	<select id="selectBoardDetail" resultType="map">
  		SELECT
  		*
  		FROM
  		community
  		WHERE
  		CM_IDX = #{CM_IDX}
  	
  	</select>
  	
  	<select id="selectCM_IDX" resultType="int">
  		SELECT CM_IDX + 1
		FROM community
		ORDER BY CM_IDX DESC
		LIMIT 1;
  	</select>
  	
  	<select id="selectCM_CATEGORY" resultType="map">
  		SELECT code, value
  		FROM common
  		WHERE name = 'CM_CATEGORY'
  	</select>
  
	<insert id="insertBoard">
		<selectKey order="BEFORE" keyProperty="category" resultType="String">
			SELECT value
			FROM common c 
			WHERE code = #{CM_CATEGORY}
		</selectKey>
		
		INSERT INTO community 
		VALUES(
			NULL 
			, #{CM_ID}
			, #{CM_TITLE}
			, #{CM_CONTENT}
			, null
			, null
			, null
			, now()
			, #{category}
			, #{CM_NICK}
		);
	</insert>
	
	<delete id="deleteBoard">
		DELETE
		FROM community
		WHERE CM_IDX = #{CM_IDX};
	</delete>
  
  
  </mapper>