<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.itwillbs.oi.mapper.MainMapper">

	<select id="selectRecentKeywordProduct" resultType="hashmap">
	<![CDATA[
	-- MainMapper > selectRecentKeywordProduct 
		SELECT 
		    PD_IDX, 
		    PD_SUBJECT, 
		    PD_PRICE, 
		    i.image1 AS 'IMG',
		    c.value AS 'PD_STATUS_VALUE',
		    CASE
		        WHEN PD_STATUS = 'PDS01' THEN 'non_overlay'
		        WHEN PD_STATUS = 'PDS02' THEN 'overlay'
		        WHEN PD_STATUS = 'PDS03' THEN 'overlay' 
		    END AS PD_STATUS_COLOR, -- 수정 필요
		    CASE 
		        WHEN TIMESTAMPDIFF(MINUTE, PD_REG_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(SECOND, PD_REG_DATE, NOW()), ' 초전')
		        WHEN TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(MINUTE, PD_REG_DATE, NOW()), ' 분전')
		        WHEN TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()) < 24 THEN CONCAT(TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()), ' 시간전')
		        ELSE CONCAT(TIMESTAMPDIFF(DAY, PD_REG_DATE, NOW()), ' 일전')
		    END AS RD_DATE
		FROM product p
		JOIN common c
		ON p.PD_STATUS = c.code
		JOIN images i
		ON p.PD_IMAGE = i.IMG_IDX
		WHERE PD_STATUS != 'PDS03' 
        AND CONCAT(IFNULL(PD_TAG1, ''), '|', IFNULL(PD_TAG2, ''), '|', IFNULL(PD_TAG3, ''), '|', IFNULL(PD_TAG4, ''), '|', IFNULL(PD_TAG5, ''), '|', IFNULL(PD_SUBJECT, '')) REGEXP #{keyword}
        ORDER BY PD_IDX 
         ]]>
	</select>

	<select id="getPopularProcuts" resultType="hashmap">
		
	<![CDATA[
		-- MainMapper > getPopularProcuts
		SELECT PD_IDX, 
		    PD_SUBJECT, 
		    PD_PRICE, 
		    i.image1 AS 'IMG',
		    c.value AS 'PD_STATUS_VALUE',
		    CASE
		        WHEN PD_STATUS = 'PDS01' THEN 'out-of-stock'
		        WHEN PD_STATUS = 'PDS02' THEN 'price-dec'
		        WHEN PD_STATUS = 'PDS03' THEN 'new'  
		    END AS PD_STATUS_COLOR,
		    CASE 
		        WHEN TIMESTAMPDIFF(MINUTE, PD_REG_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(SECOND, PD_REG_DATE, NOW()), ' 초전')
		        WHEN TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(MINUTE, PD_REG_DATE, NOW()), ' 분전')
		        WHEN TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()) < 24 THEN CONCAT(TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()), ' 시간전')
		        ELSE CONCAT(TIMESTAMPDIFF(DAY, PD_REG_DATE, NOW()), ' 일전')
		    END AS RD_DATE
		 FROM product p
		 JOIN common c
		 ON p.PD_STATUS = c.code
		 JOIN images i
		 ON p.PD_IMAGE = i.IMG_IDX
		 WHERE PD_STATUS != 'PDS03' 
		 ORDER BY PD_READCOUNT DESC
		 LIMIT 10
		 ]]>
	</select>
	
	<select id="getRecentLookProduct" resultType="hashmap">
			<![CDATA[
		-- MainMapper > getRecentLookProduct
		SELECT PD_IDX, 
		    PD_SUBJECT, 
		    PD_PRICE, 
		    i.image1 AS 'IMG',
		    c.value AS 'PD_STATUS_VALUE',
		    CASE
		        WHEN PD_STATUS = 'PDS01' THEN 'non_overlay'
		        WHEN PD_STATUS = 'PDS02' THEN 'overlay'
		        WHEN PD_STATUS = 'PDS03' THEN 'overlay' 
		    END AS PD_STATUS_COLOR,
		    CASE 
		        WHEN TIMESTAMPDIFF(MINUTE, PD_REG_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(SECOND, PD_REG_DATE, NOW()), ' 초전')
		        WHEN TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(MINUTE, PD_REG_DATE, NOW()), ' 분전')
		        WHEN TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()) < 24 THEN CONCAT(TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()), ' 시간전')
		        ELSE CONCAT(TIMESTAMPDIFF(DAY, PD_REG_DATE, NOW()), ' 일전')
		    END AS RD_DATE
		 FROM product p
		 JOIN common c
		 ON p.PD_STATUS = c.code
	 	 JOIN images i
		 ON p.PD_IMAGE = i.IMG_IDX
		 WHERE PD_IDX = #{prodcut}
		 ]]>
	</select>
	
	<select id="getTradeRecentLookProduct" resultType="hashmap">
			<![CDATA[
		-- MainMapper > getTradeRecentLookProduct
		SELECT PD_IDX, 
		    PD_SUBJECT, 
		    PD_PRICE, 
		    i.image1 AS 'IMG',
		    CASE 
		        WHEN TIMESTAMPDIFF(MINUTE, PD_REG_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(SECOND, PD_REG_DATE, NOW()), ' 초전')
		        WHEN TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()) < 1 THEN CONCAT(TIMESTAMPDIFF(MINUTE, PD_REG_DATE, NOW()), ' 분전')
		        WHEN TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()) < 24 THEN CONCAT(TIMESTAMPDIFF(HOUR, PD_REG_DATE, NOW()), ' 시간전')
		        ELSE CONCAT(TIMESTAMPDIFF(DAY, PD_REG_DATE, NOW()), ' 일전')
		    END AS RD_DATE
		 FROM product p
		 JOIN common c
		 ON p.PD_STATUS = c.code
	 	 JOIN images i
		 ON p.PD_IMAGE = i.IMG_IDX
		 WHERE PD_IDX = #{prodcutId}
		 ]]>
	</select>
</mapper>


