<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.itwillbs.oi.mapper.SearchMapper">
	<select id="selectRecommendList" resultType="map">
		SELECT 
			CASE 
				WHEN PD_TAG1 LIKE CONCAT('%', #{searchKeyWord}, '%') THEN PD_TAG1
				WHEN PD_TAG2 LIKE CONCAT('%', #{searchKeyWord}, '%') THEN PD_TAG2
				WHEN PD_TAG3 LIKE CONCAT('%', #{searchKeyWord}, '%') THEN PD_TAG3
				WHEN PD_TAG4 LIKE CONCAT('%', #{searchKeyWord}, '%') THEN PD_TAG4
				WHEN PD_TAG5 LIKE CONCAT('%', #{searchKeyWord}, '%') THEN PD_TAG5
				ELSE NULL 
			END AS recommend_tag
		FROM product
		WHERE PD_TAG1 LIKE CONCAT('%', #{searchKeyWord}, '%')
		     OR PD_TAG2 LIKE CONCAT('%', #{searchKeyWord}, '%')
		     OR PD_TAG3 LIKE CONCAT('%', #{searchKeyWord}, '%')
		     OR PD_TAG4 LIKE CONCAT('%', #{searchKeyWord}, '%')
		     OR PD_TAG5 LIKE CONCAT('%', #{searchKeyWord}, '%');
 	</select>
 	
 	<select id="selectDuplicate" resultType="int">
 		SELECT COUNT(SR_KEYWORD)
 		FROM search_keyword
 		WHERE SR_KEYWORD = #{keyword};
 	</select>
 	
 	<insert id="insertKeyword">
 		<selectKey keyProperty="SR_IDX" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(SR_IDX), 0)
			FROM search_keyword
		</selectKey>
 		INSERT INTO search_keyword
 		VALUES (
 			#{SR_IDX} + 1,
 			#{keyword},
			1
 		)
 	</insert>
 	
 	<update id="updateCount">
 		UPDATE search_keyword
 		SET SR_COUNT = SR_COUNT + 1
 		WHERE SR_KEYWORD = #{keyword};
 	</update>
 	
 	<select id="selectPopularKeyword" resultType="hashmap">
 		SELECT SR_KEYWORD
		FROM search_keyword
		ORDER BY SR_COUNT DESC
		LIMIT 20;
 	</select>
</mapper>















