<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.oi.mapper.StoreMapper">
	<select id="selectMyPd" resultType="map">
		SELECT *
		FROM product p 
		JOIN images i
		ON p.PD_IMAGE = i.IMG_IDX
		WHERE US_ID = #{id}
	</select>
	
	<update id="updatePdStatus">
		UPDATE product
		SET PD_STATUS = #{newStatus}
		WHERE PD_IDX = #{pdId}
	</update>
</mapper>
