<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
마이바티스에서 실행할 SQL 구문을 갖는 xxxMapper.xml 파일 정의
=> 실행할 각 구문의 이름을 태그로 제공함(insert, update, delete, select 등)
   (내부적으로 PreparedStatement 객체를 통해 SQL 구문을 실행함)
=> 주의! mapper 태그 내의 namespace 속성에 현재 XML 파일과 연결될 자바 인터페이스를 명시해야한다!
   ex) <mapper namespace="패키지명.인터페이스명">
   (존재하지 않는 인터페이스(오타 등)라도 오류가 표시되지 않음)
=> 주의! 각 태그 내의 id 속성에 지정될 이름은 Mapper 인터페이스 내의 메서드명과 일치해야한다!
   (일치하는 id 없을 경우 BindingException 발생)
-->      
<mapper namespace="com.itwillbs.oi.mapper.UserMapper">
	<insert id="registUser">
		INSERT INTO user
		VALUES (
			null
			, #{US_ID}
			, #{US_PASSWD}
			, #{US_NAME}
			, #{US_NICK}
			, #{US_EMAIL}
			, #{US_POST_CODE}
			, #{US_ADDRESS1}
			, #{US_ADDRESS2}
			, #{US_PHONE}
			, #{US_GENDER}
			, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
			, 0
		)
	</insert>
	
	<select id="selectUser" resultType="hashmap">
			SELECT * 
			FROM  user 
			WHERE US_ID = #{US_ID}
	</select>
	
	<select id="selectCheckID" resultType="boolean">
		SELECT IF(COUNT(*) = 1, 1, 0)
		FROM  user 
		WHERE US_ID = #{US_ID}
	</select>
	
	<select id="selectCheckNick" resultType="boolean">
		SELECT IF(COUNT(*) = 1, 1, 0)
		FROM  user 
		WHERE US_NICK = #{US_NICK}
	</select>
	
	<select id="selectfindId" resultType="map">
		SELECT *
		  FROM user 
		 WHERE
			   US_NAME =  #{user_name}  
		 AND   US_EMAIL = #{user_email}
	</select>
	
	<select id="selectIdByPhone" resultType="string">
		SELECT US_ID
		  FROM user 
		 WHERE
		 		   US_NAME = #{userName}
		 and	   US_PHONE = #{userPhone}
	</select>
	
	<select id="selectFindPw" resultType="map">
		SELECT *
		  FROM user 
		 WHERE
			   US_Name =  #{user_name}  
		 AND   US_ID = 	  #{user_id}
		 AND   US_EMAIL = #{user_email}
	</select>
	
<!-- 	<select id="selectForgotPwPhone"> -->
<!-- 		SELECT * -->
<!-- 		  FROM user  -->
<!-- 		 WHERE -->
<!-- 			   US_Name =  #{phone_US_Name}   -->
<!-- 		 AND   US_PHONE = #{US_PHONE} -->
<!-- 		 AND   US_ID = 	  #{US_ID} -->
<!-- 	</select> -->
	
	<select id="selectUserData">
		SELECT COUNT(*)
		FROM user
		WHERE 	
				US_ID = #{userId}
		AND		US_NAME = #{userName}
		AND		US_PHONE = #{userPhone}
	</select>
	
	
	
	<select id="selectuserCount">
		SELECT count(US_IDx)
	      FROM user
	</select>
	
	<select id="selectTodayuser">
		SELECT COUNT(*)
		  FROM user
		 WHERE DATE(user_reg_date) = CURDATE()
	</select>
	
	<select id="selectMailAuthInfo" resultType="hashmap">
		SELECT *
		  FROM mail_auth_info
		  WHERE 
			   US_EMAIL = #{US_EMAIL}
	</select>
	
	<!-- 이메일 인증 정보 등록 - INSERT -->
	<insert id="registMailAuthInfo">
		INSERT
		INTO mail_auth_info
		VALUES (
			  #{US_EMAIL}
			, #{auth_code}
		)
	</insert>
	
	<!-- 이메일 인증 정보 수정 - UPDATE -->
	<!-- id 에 해당하는 auth_code 컬럼값을 전달받은 코드값으로 변경 -->
	<update id="updateMailAuthInfo">
		UPDATE mail_auth_info
		SET 
			auth_code = #{auth_code}
		WHERE
			US_EMAIL = #{US_EMAIL}
	</update>
	
	<select id="selectEmptyEmail" resultType="boolean">
		SELECT
		    IF (COUNT(*) = 1, 0, 1)
	  	  FROM user 
		 WHERE US_EMAIL = #{US_EMAIL}
	</select>
	
	<select id="selectEmptyPhoneNum" resultType="boolean">
		SELECT
		    IF(COUNT(*) = 1, 0, 1)
		  FROM user 
		 WHERE US_PHONE = #{US_PHONE}
	</select>
	
	<update id="updatePasswd">
		UPDATE user
		SET
			US_PASSWD = #{US_PASSWD}
		WHERE
			US_ID = #{US_ID}
	
	</update>
	
	<select id="selectMyUser">
		SELECT *
		  FROM user
		 WHERE US_ID = #{US_ID}
	</select>
	
<!-- 	<update id="updateMyUser"> -->
<!-- 		UPDATE user -->
<!-- 		SET -->
<!-- 			US_NICK = #{newNick} -->
<!-- 		WHERE -->
<!-- 			US_ID = #{id} -->
<!-- 	</update> -->
	
	    <!-- 필드를 업데이트하는 메소드 -->
    <update id="updateField">
        UPDATE user
        SET
        <if test="field == 'nickname'">US_NICK = #{value}</if>
        <if test="field == 'email'">US_EMAIL = #{value}</if>
        <if test="field == 'phone'">US_PHONE = #{value}</if>
        WHERE US_ID = #{userId}
    </update>
	
</mapper>















