@charset "UTF-8";
/*타이머*/


	/*검색*/
	#searchDiv {
/* 		width : 70%;  */
		width : 88%;
/* 		margin-left: 121px;  */
/*  		margin-top : 50px;  */
 		z-index: 2;
   		position: absolute;
/* 		display : none; */
/* 		background-color : #E4E4E4; */
		border:none;
		border-radius: 5px;
		text-align: left;
/* 		padding : 10px; */
	}
	
	/* 추천 검색어 */
	.searchKey {
		background-color: white;
		border: none;
		border-radius: 5px;
		padding : 5px;
		color: #420100;
		font-weight: bold;
	}
	
	.recommendKeyword ul li:hover {
		border: none;
		border-radius: 5px;
		background-color: #EAEAEA;
	}
	
	/* 검색 DIV */
	.recentSearch table tr td a:hover, .popularSearch table tr td a:hover, .recommendKeyword table tr td a:hover{
		cursor: pointer;
	}
	
	.PopularborderBottom, .RecentborderBottom{
		border-bottom: 2px solid #F2F2F2;
		padding-right: 10px;
		padding-left : 10px;
		font-size: 18px;
	}
	
	.SelPopularborderBottom{
		border-bottom: 3px solid #34A853!important;
		padding:10px;
		font-size: 18px;
	}
	.SelRecentborderBottom{
		border-bottom: 3px solid #34A853!important;
		padding-right: 10px;
		padding-left : 10px;
		font-size: 18px;
	}
	
	.recentSearch table, .popularSearch table, .recommendKeyword table{
		border: 1px solid #F2F2F2;
		margin-top: 5px;
	}
	
	.recentWordColor{
		margin-left: 10px;
	}
	
	.marginLeftRank{
		margin: 0 20px;
	}
	
	.recentSearch table tr:nth-child(n+2) td,
	.popularSearch table tr:nth-child(n+2) td, 
	.recommendKeyword table tr td{
		padding-right: 10px;
		padding-left : 10px;
	}
	.recentSearch table tr:last-child td,
	.popularSearch table tr:last-child td, 
	.recommendKeyword table tr:last-child td {
/* 		background-color: #ebebeb; */
		text-align: center;
	}


	.relationText{
		color: #34A853;
		margin-left: 10px;
	}
	
	.recentSearch,.popularSearch,.recommendKeyword{
/* 		position:fixed; */
		z-index: 9999;
	}
	
	.recentSearch table td,.popularSearch table td,.recommendKeyword table td{
		background-color: #F9F9F9;
	}
	.recentSearch table td,.PopularCenter td{
		text-align: center;
	}
	
	.localStarageDeleteOneTd{
		text-align: right!important;
	}
	.localStarageDeleteOne{
		margin-right: 15px!important;
	}
	
	.keywordWidth {
	  max-width: 100px; /* 원하는 너비 값으로 변경 가능 */
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  padding:10px;
	}
	
	.recentWordColor,.popularWordColor{
		font-weight: bold;
	}
	
	.padding10px{
		padding:10px;
	}
	
	#localStorageClean{
		background-color: white;
		border: none;
		border-radius : 5px;
	}
	
	/* ------------------------------------------------------------- */
	
	.inbox-message .message-avatar {
	    position: absolute;
	    left: 30px;
	    top: 50%;
	    transform: translateY(-50%);
	}
	
	.shopping-list li {
	    display: flex;
	    align-items: center;
        list-style: none; /* Remove default list styling */
	    margin: 10px 0; /* Add some space between items */
	    padding: 10px; /* Add padding for better click area */
	    border-radius: 5px; /* Optional: add rounded corners */
	    transition: background-color 0.3s; /* Smooth hover effect */
	    cursor: pointer; /* Indicate that the item is clickable */
	}
	
	.shopping-list li:hover {
	    background-color: #f0f0f0; /* Change background on hover */
	}
	
	.message-avatar {
	    margin-right: 10px;
	}
	
	.message-avatar img {
	    display: inline-block;
	    width: 45px;
	    height: 45px;
	    border-radius: 50%;
	}
	
	.list-item-content {
	    display: flex;
	    flex-direction: column;
	}
	
	.shopping-list h4 {
	    margin: 0;
	    font-size: 16px;
	}
	
	.quantity {
	    margin: 0;
	    padding-top: 5px; /* Add some space between h4 and p if needed */
	}
	