@charset "UTF-8";

/* 좌우로 흔들리는 애니메이션 정의 */
@keyframes shake:active {
    0% { transform: translateX(0); }
    25% { transform: translateX(-30px); }
    50% { transform: translateX(30px); }
    75% { transform: translateX(-15px); }
    100% { transform: translateX(0); }
}

/* shake-horizontal 클래스에 애니메이션 적용 */
.shake-horizontal {
    animation: shake 0.5s ease-in-out;
}